.name{
  margin: auto;




.feed {
  margin: 15px;
  flex-direction: column-reverse;
  border: 5px solid black;
  border-radius: 10px;
  padding: 5px;
}

.picture{
  border-radius: 100%;
  display: block;
  margin: auto;
  width: 25%;
  z-index: 1;
}

}
.about{
  font-style: italic;
  font-size: 15px;
  text-items: center
}
.cover{
  border-radius: 10px;
  display: block;
  margin: auto;
  width: 50%;
  height: 30%;
  /*height: 200px;
  position: absolute;
  top: 0;
  z-index: 0;
  object-fit: cover;*/
}


.email{
  text-align: center;
}

.textbox{
  margin-left: 38%;
  align: center;
}
