<!-- templates/lab_8/partials/footer.html -->
<!-- TODO, CREATE THIS FILE AND ADD copyright symbol -->

<style>

.position{
  text-align: center;
}

</style>

<p class="position">© Made by {{author}}</p>
